{% extends "base.html" %}
{% block title %}Add {{ tx_type }} | f.rublev{% endblock %}

{% block content %}
<h2 class="mb-4">Add {{ tx_type }}</h2>

<form method="post" class="card p-4 shadow-sm">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.amount.label_tag }}
        {{ form.amount }}
    </div>

    <div class="mb-3">
        {{ form.account.label_tag }}
        {{ form.account }}
    </div>

    <div class="mb-3">
        {{ form.category.label_tag }}
        {{ form.category }}
    </div>

    <div class="mb-3">
        {{ form.transaction_time.label_tag }}
        {{ form.transaction_time }}
    </div>

    <div class="mb-3">
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>

    <div class="d-flex gap-2">
        <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
        <button type="submit" class="btn btn-success">Save</button>
        <a href="javascript:history.back()" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>
{% endblock %}
