{% extends "base.html" %}
{% block title %}Bank & Cash | f.rublev{% endblock %}

{% load custom_filters %}
{% block content %}

<div class="container px-0">
  <div class="total-balance-wrapper mb-3">
      <table class="table table-borderless align-middle mb-0 shadow-sm rounded" style="background-color: #f8f9fa;">
          <tr>
              <th class="fw-semibold fs-5">Total Balance:</th>
              <th class="text-end fw-bold fs-4 text-success">{{ total_balance|intspace }}</th>
          </tr>
      </table>
  </div>
</div>

{% if accounts %}
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>Account / Wallet</th>
                <th class="text-end">Balance</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>
                    <a href="{% url 'all_transactions' %}?account={{ account.id }}">{{ account.name }} ({{ account.currency }})</a>
                </td>
                <td class="text-end balance-cell">{{ account.balance|intspace }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No accounts yet.</p>
{% endif %}

<div class="mt-4">
    <a href="{% url 'create_account' %}" class="btn btn-success">+ Create Account</a>
</div>
{% endblock %}
